body {
    background-color: #00092e;
    background-image: url("../images/background.png");
    font-family: 'Josefin Sans', sans-serif;
    color: #BADC58;
}

h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    color:#6AB04C;
}

.transparency {
    background: rgba(0, 0, 0, 0.5);
  }